/* DOS VGA web fonts */
@font-face {
    font-family: "IBM VGA 8x16";
    src: url("/fonts/Px437_IBM_VGA_8x16.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ANSI display styles */
:root {
    --ans-font-family: "IBM VGA 8x16", monospace;
    --ans-font-size: 16px;
    --ans-line-height: 1;
}

pre.ansi {
    font-family: var(--ans-font-family);
    font-size: var(--ans-font-size);
    line-height: var(--ans-line-height);
    background-color: #000000;
    padding: 0;
    margin: 0;
    white-space: pre;
    /*overflow: visible;*/
}
